.App {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.header {
  height: 100 px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 2px 2px #00000033;
}

.shoppingCart {
  font-size: 30px;
  margin-right: 16px;
  cursor: pointer;
}

.content {
  display: flex;
  flex: 1;
  overflow-y: auto;
  margin-top: 2px;
}

.footer {
  height: 60 px;
  background-color: black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.itemCardImage {
  max-height: 150px;
  width: auto;
  object-fit: contain;
}

.itemCard,
.itemCardBadge {
  margin: 8px;
}

.appMenu {
  border: none;
}

.productsContainer {
  padding: 8px;
}
